WebApplication/Connected Services/WindDirection/GetLocation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetLocation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar83.fulton.asu.edu/Page5/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar83.fulton.asu.edu/Page5/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetLocation_GetLocationID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationID" />
  </wsdl:message>
  <wsdl:message name="IGetLocation_GetLocationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationIDResponse" />
  </wsdl:message>
  <wsdl:message name="IGetLocation_GetWindDirection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWindDirection" />
  </wsdl:message>
  <wsdl:message name="IGetLocation_GetWindDirection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWindDirectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetLocation">
    <wsdl:operation name="GetLocationID">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetLocation/GetLocationID" message="tns:IGetLocation_GetLocationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetLocation/GetLocationIDResponse" message="tns:IGetLocation_GetLocationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWindDirection">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetLocation/GetWindDirection" message="tns:IGetLocation_GetWindDirection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetLocation/GetWindDirectionResponse" message="tns:IGetLocation_GetWindDirection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetLocation" type="tns:IGetLocation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocationID">
      <soap:operation soapAction="http://tempuri.org/IGetLocation/GetLocationID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindDirection">
      <soap:operation soapAction="http://tempuri.org/IGetLocation/GetWindDirection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetLocation">
    <wsdl:port name="BasicHttpBinding_IGetLocation" binding="tns:BasicHttpBinding_IGetLocation">
      <soap:address location="http://webstrar83.fulton.asu.edu/Page5/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>